<div class="page-title">
  <h4>
    <a routerLink="/category">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавить' : 'Edit'}} категорию
  </h4>
  <span>
    <button *ngIf="!isNew" class="btn btn-small red" (click)="delete()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form [formGroup]="form" class="col s12 l6" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input
        id="name"
        type="text"
        formControlName="name"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">Название</label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched">
        <span class="helper-text red-text" *ngIf="form.get('name').errors['required']">This field is required</span>
      </span>
    </div>

    <div>
      <input type="file" class="hide" (change)="loadFile($event)" #file>
      <button type="button" (click)="selectFile()" class="waves-effect waves-light btn orange lighten-2 mb2">
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>

    <div>
      <button [disabled]="form.invalid" class="waves-effect waves-light btn">
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img h200" [src]="imagePreview" *ngIf="imagePreview" alt="preview">
  </div>
</div>

<app-position-form
  *ngIf="categoryId"
  [categoryId]="categoryId"
>
</app-position-form>
