<ng-container *ngIf="positions$ | async as positions; else loading">
  <table *ngIf="positions.length; else empty" class="highlight">
    <thead>
    <tr>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.name}}</td>
      <td>{{position.cost}} руб.</td>
      <td>
        <div class="input-field inline order-position-input">
          <input type="number" [(ngModel)]="position.quantity" min="1">
        </div>
      </td>
      <td>
        <button (click)="addToOrder(position)" class="btn waves-effect wavers-light btn-small">Добавить</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">The category doesn't have any positions yet</div>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
