<div class="page-title">
  <h4>История заказов</h4>
  <button
    class="btn btn-small"
    data-tooltip="Toggle filter"
    data-position="left"
    (click)="isFilterShow = !isFilterShow"
    [ngClass]="{'active': isFilterShow}"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter (onSubmit)="takeFilter($event)" *ngIf="isFilterShow"></app-history-filter>

<ng-container *ngIf="!reloading; else loader">
  <app-history-table [orders]="orders"></app-history-table>
  <ng-container *ngIf="!noMoreLoad">
    <div class="center mb2" *ngIf="!loading; else loader">
      <button (click)="loadMore()" class="btn waves-effect grey darken-1 btn-small">Загрузить еще</button>
    </div>
  </ng-container>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
