<div class="page-title">
  <h4>История заказов</h4>
  <button
    class="btn btn-small"
    data-tooltip="Toggle filter"
    data-position="left"
    (click)="isFilterShow = !isFilterShow"
    [ngClass]="{'active': isFilterShow}"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterShow"></app-history-filter>
<app-history-table [orders]="orders"></app-history-table>

<div class="center mb2">
  <button class="btn waves-effect grey darken-1 btn-small">Загрузить еще</button>
</div>
